name: Semifold Status
on:
  pull_request:
    branches: [main]

env:
  CLICOLOR_FORCE: 1

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  status:
    name: Status
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Semifold
        uses: noctisynth/setup-semifold@main
      - name: Semifold Status
        run: semifold status
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}